<h1>Counter - In Shared Location</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    /// <summary>
    /// An optional call back method that will be executed when the increment action is completed inside of this component
    /// </summary>
    [Parameter]
    public EventCallback<int> OnIncrementCallback { get; set; }

    private async Task IncrementCount()
    {
        currentCount++;
        await OnIncrementCallback.InvokeAsync(currentCount);
    }
}
